@media screen and (max-width: 768px) {
  .container {
    position: relative;
  }
  /*------------------*/
  /* Dates Components */
  /*------------------*/
  .calendar-container {
    position: relative;
    overflow: hidden;
  }
  .calendar-container .menu-img {
    margin: 5px 10px 0 auto;
    display: flex;
    width: 50px;
    height: auto;
  }
  .calendar-container .buttons {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 190px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 4rem;
    left: 2rem;
    z-index: 1;
  }
  .calendar-container .buttons #btn-day, .calendar-container .buttons #btn-week, .calendar-container .buttons #btn-month, .calendar-container .buttons #btn-year {
    background-color: #fff;
    color: var(--colorOne);
    padding: 10px 30px;
    width: 250px;
    margin: 0 auto;
    border: 0px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0px;
  }
  .calendar-container .buttons #btn-day:hover, .calendar-container .buttons #btn-week:hover, .calendar-container .buttons #btn-month:hover, .calendar-container .buttons #btn-year:hover {
    background-color: #fff;
    color: var(--colorTwo);
  }
  .calendar-container .active {
    display: flex;
  }
  /*---------------*/
  /* dates control */
  /*---------------*/
  .dates-control {
    display: flex;
    align-items: center;
    margin: 0px;
    width: 21rem;
    height: 4em;
    padding-left: 0.5em;
    border-radius: 10px;
  }
  .dates-control h1 {
    padding: 0.2rem;
  }
  .dates-control .fecha {
    width: 260px;
  }
  /*-----------------*/
  /* Week Component */
  /*-----------------*/
  #days-of-week .grid-days {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .horas {
    padding-top: 0px;
    font-size: 15px;
    text-align: center;
  }
  .diaa-week {
    font-size: 15px;
  }
  /*-----------------*/
  /* month component */
  /*-----------------*/
  .grid-item {
    border-width: 0.5px;
    border-radius: 0px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    min-height: 48px;
    max-height: 48px;
    width: 100%;
  }
  .grid-item .day-number {
    text-align: right;
    margin-top: 0px;
    margin-right: 0px;
  }
  .grid-days {
    width: 100%;
    font-size: 18px;
    text-align: right;
    padding: auto;
    box-sizing: border-box;
  }
  /* btn evento in month */
  .btn-item {
    width: 40px;
    height: 20px;
    margin: 0 0 0 -10px;
    border-style: none;
    font-size: 15px;
    padding: 4px 4px;
    border-radius: 6.5px;
  }
  /*---------------------------*/
  /* Modal Event in mobile mode*/
  /*---------------------------*/
  .new-event {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    z-index: 2;
    font-size: 2.5rem;
    text-align: center;
  }
  .new-event:active {
    background-color: var(--colorTwo);
    color: #fff;
  }
  .modal {
    top: 0px;
    left: 0px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
  .modal #descriptionEvent {
    width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    resize: none;
    margin-bottom: 10px;
  }
  .modal .inputs-content {
    margin: 5px 0px;
  }
  .modal .inputs-content #dateInput {
    padding: 5px 5px;
  }
  .modal .inputs-content #timeInput {
    padding: 5px 5px;
  }
}

/*# sourceMappingURL=mediaQ.css.map */
