.modal{
    /* max-width: 330px; */
    /* min-width: 200px; */
    width: 300px;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 25px 0px rgba(71, 71, 71, 0.507);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}

/* conten close btn modal */
.modal-close-content{
    background-color: var(--colorOne);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    width: 100%;
    height: 35px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.btn-close-modal{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.closeModal{
    width:25px;
    height:25px;
}

.btn-close-modal:hover{
    background-color: var(--colorTwo);
    border: none;
}
.btn-close-modal:hover  .closeModal{
    filter: invert(95%);
}

/* modal conten inputs and more */
.modal-content-info{
    padding: 10px;
}

#titleEvent{
    width: 100%;
    height: 30px;

    /* border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--neutralGray); */
}
#titleEvent::placeholder{
    text-align: center;
    font-size: 16px;
}

.inputs-content{
    margin: 10px 0px;

    display: flex;
}

.labels-modal{
    font-size: 15px;
    margin-right: 10px;
}

.modal-submit-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}