/* last Month days */
.lastMonth{
    color: var(--neutralGray);
}

.lastMonthYear{
    color: var(--colorbg);
    cursor: default;
}

#days-of-month{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: transparent;
    margin-top: 10px;
    grid-column-end: 9;
    gap: 0px;
    width: 100%;
}

.grid-item {
    background-color: var(--colorbg);
    border-bottom: 1px solid var(--neutralGray);
    border-right: 1px solid var(--neutralGray);
    border-width: 0.5px;
    border-radius: 0px;

    font-size: 20px;
    text-align: center;

    padding: 15px;
    min-height: 80px;

    position: relative;
}

#days-of-month .grid-item:nth-child(7n+1){
    border-left: 1px solid var(--neutralGray);
}

#days-of-month .grid-item:nth-child(7n+14){
    background-color: var(--neutralActive);
}

#days-of-month .grid-days{
    margin-top: 5px;
    border-right: 0.5px solid var(--colorTwo);
}

#days-of-month .grid-days:first-child{
    border-top-left-radius: 10px;
}

#days-of-month .grid-days:nth-child(7){
    border-top-right-radius: 10px;
    border-right: none;
}

#container-month{
    margin: 15px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#container-month .grid-days{
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
}

ul{
    list-style: none;
    padding: 0px;
    width: 100%; /* atencion */

    margin-left: -15px;
}

#days-of-month ul li{
    position: relative;
    padding-left: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#days-of-month ul li::before{/* pelotita de color en radio month */
    /* content: ""; */

    display: inline-block;

    width: 6px;
    height: 6px;

    position: absolute;
    left: 26px;
    top: 10px;
    margin-right: 15px;
    background-color: var(--neutralWhite);
    border-radius: 50%;
}

.day-month{
    text-align: right;
}

.day-number{
    text-align: right;
    margin-top: -10px;
    margin-right: -10px;
}