#container-week{
    flex-flow: row wrap;
    margin: 15px;
}

#container-week #days-of-week{
    width: 100%;
}

#days-of-week{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(24, auto);
    gap: 0px 0px;
    margin-top: 5px;
}

#days-of-week .grid-days{
    display: flex;
    justify-content: end;
}
#days-of-week .grid-days p{
    margin-left: 5px;
}
#days-of-week .grid-days .diasNumber{
    margin-right: 15px;
}

#days-of-week .semanal:nth-child(7n + 15){
    background-color: var(--neutralActive);
}

#container-week .grid-days{
    margin-top: 10px;
    border-right: 1px solid var(--neutralBlack);
    border-bottom: 1px solid var(--neutralGray);
}
#container-week .grid-days:nth-child(7){
    border-top-right-radius: 10px;
    border-right: none;
}
#grid-hour{
    grid-column: 1 / 2;
    grid-row: 1 / 31;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 44.5px repeat(24, auto);
}

.horas{
    border-bottom: 1px solid var(--neutralGray);
    border-right: 1px solid var(--neutralGray);
    border-left: 1px solid var(--neutralGray);
    padding-top: 40px;
    text-align: center;
    background-color: var(--background);
}
.horas:first-child{
    margin-top: 10px;
    padding-top: 8px;

    font-weight: 600;
    text-align: center;

    border-top-left-radius: 10px;
    border-right: 1px solid var(--neutralBlack);
    border-left: none;
    background-color: var(--colorOne);
    color: var(--neutralWhite);
}
.semanal{
    border-bottom: 1px solid var(--neutralGray);
    border-right: 1px solid var(--neutralGray);
    background-color: var(--colorbg);
    min-height: 59.1px;
}

.diaa-week{
    text-align: center;
    font-size: 28px;
    color: var(--neutralWhite);
}

#container-week .grid-days{
    text-align: center;
}