#container-week{
    flex-flow: row wrap;
    margin: 15px;
}

#container-week #days-of-week{
    width: 100%;
}

#days-of-week{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(24, auto);
    gap: 0px 0px;
    margin-top: 5px;
}

#days-of-week .grid-days{
    display: flex;
    justify-content: end;
}
#days-of-week .grid-days:first-child{
    border-top-left-radius: 10px;
}
#days-of-week .grid-days p{
    margin-left: 5px;
}
#days-of-week .grid-days .diasNumber{
    margin-right: 15px;
}

#days-of-week .semanal:nth-child(7n + 14){
    background-color: var(--neutralActive);
}
#days-of-week .semanal:nth-child(7n + 1){
    border-left: solid 1px black;
}

#container-week .grid-days{
    margin-top: 10px;
    border-right: 1px solid var(--neutralBlack);
    border-bottom: 1px solid var(--neutralGray);
}
#container-week .grid-days:nth-child(7){
    border-top-right-radius: 10px;
    border-right: none;
}

.semanal{
    border-bottom: 1px solid var(--neutralGray);
    border-right: 1px solid var(--neutralGray);
    background-color: var(--colorbg);
    min-height: 59.1px;
    position: relative;
}
.hours-in-Week{
    font-size: 14px;
    color: var(--neutralGray);
    position: absolute;
    top: 4px;
    right: 4px;
}

.diaa-week{
    text-align: center;
    font-size: 24px;
    color: var(--neutralWhite);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: .2rem 0 .2rem 0;
}

#container-week .grid-days{
    text-align: center;
}


#container-week ul{
    list-style: none;
    padding: 10px 0 0 0;

    width: 84%;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#container-week .btn-item{
    margin-left: 15px;
    margin-bottom: 5px;
}