.btn-item{
    background-color: var(--colorOne);
    color: var(--neutralWhite);
    border-style: none;
    font-size: 13px;/* 15 */
    padding: 3px 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .6s ease;
    min-width: 6rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    position: relative;
}
.btn-item:hover{
    /* background-color: var(--colorThree); */
    color: var(--color3C);
    box-shadow: 2px 2px 10px rgb(187, 187, 187);
    filter: brightness(0.85);
}

.component-month{
    width: 100%;
}