#container-week{
    flex-flow: row wrap;
    margin: 15px;
    border: 1px solid var(--color3C);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#container-week #days-of-week{
    width: 100%;
}

#days-of-week{
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(24, auto);
    gap: 0px 0px;
}

#days-of-week .grid-days{
    display: flex;
    justify-content: end;
    border-top: 1px solid var(--neutralBlack);
}
#days-of-week .grid-days p{
    margin-left: 5px;
}
#days-of-week .grid-days .daysNumber{
    margin-right: 15px;
}

#days-of-week .semanal:nth-child(7n + 14), #days-of-week .semanal:nth-child(7n + 14) .hours-in-Week{
    background-color: var(--neutralActive);
}

#days-of-week .semanal:nth-child(7n + 1){
    border-left: solid 1px black;
}

#container-week .grid-days{
    border-right: 1px solid var(--neutralBlack);
    border-bottom: 1px solid var(--neutralGray);
}
#container-week .grid-days:nth-child(7){
    border-right: none;
}

.semanal{
    border-bottom: 1px solid var(--neutralGray);
    border-right: 1px solid var(--neutralGray);
    background-color: var(--colorbg);
    height: 6.5rem;
    width: 100%;
    position: relative;
    /* overflow-y: auto;
    overflow-x: hidden; */
    display: flex;
    flex-direction: column;
}
.semanal::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.semanal::-webkit-scrollbar-thumb {
    background-color: var(--neutralGray); /* Color del thumb (el mango del scrollbar) */
    border-radius: 6px; /* Bordes redondeados del thumb */
}

.semanal::-webkit-scrollbar-track {
    background-color: var(--neutralActive); /* Color del track (el fondo del scrollbar) */
}

.semanal .eventWeek{
    order: 2;
}
.semanal .hours-in-Week{
    order: 1;
}

.hours-in-Week{
    text-align: right;
    font-size: 14px;
    color: var(--neutralGray);
    position: absolute;
    top: 0;
    right: 2px;
    background-color: rgba(255, 255, 255, 0.99);
    z-index: 1;
    padding: 0px 0px 0 0; /* 8px 8px 0 0 */
    height: fit-content;
    width: fit-content;
}

.day-week{
    text-align: center;
    font-size: 20px;
    color: var(--neutralWhite);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: .2rem 0 .2rem 0;
}

#container-week .grid-days{
    text-align: center;
}


#container-week .eventWeek {
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0px 2px 0px 2px;
    width: 100%;
    height: 100%;
}

#container-week .eventWeek{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;
}

#container-week .eventWeek .btn-item{
    height: 100%;
}

.week-day-active{
    border-left: 2px solid var(--colorOne);
    border-right: 2px solid var(--colorOne);
}

.week-content-div{
    border: solid 1px #333333;
    padding: 0px;
}

.hour-week-content-div{
    height: 6.5rem;
    width: 100%;
    border-bottom: solid 1px #333333;
    text-align: right;
    font-size: 14px;
    color: var(--neutralGray);
    padding: 5px;
    /* overflow: hidden;
    overflow-y: auto; */
}

.week-today{
    border-top: var(--red) 2px solid;
    border-left: var(--red) 2px solid;
    border-right: var(--red) 2px solid;
    border-bottom: var(--red) 1px solid;
}

.week-content-div{
    position: relative;
}

.lineHour-day-1, .lineHour-day-2, 
.lineHour-day-3, .lineHour-day-4, 
.lineHour-day-5, .lineHour-day-6, 
.lineHour-day-0{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: orange;
    width: 100%;
    height: 1px;
}
.lineHour-day-1::before, .lineHour-day-2::before, 
.lineHour-day-3::before, .lineHour-day-4::before, 
.lineHour-day-5::before, .lineHour-day-6::before, 
.lineHour-day-0::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, -50%);
    width: 10px;
    height: 10px;
    background-color: #e74c3c;
    border-radius: 50%;
}